version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: nestjs-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nestjs_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: nestjs-backend
    depends_on:
      - db
    environment:
      DB_HOST: db        # used only when backend runs in Docker
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: nestjs_db
    ports:
      - "3000:3000"

volumes:
  db_data:
